.container {
    display: grid;
    align-items: center;
    height: 1rem;
    padding: 1rem;
    border: outset;
    background-color: red;
    color: white;
    column-gap: normal;
    width: 10rem;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

h2 {
    font-size: xx-large;
}