body {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  color: white;
}

h1 {
  font-size: 4rem;
}

.container {
  display: grid;
  grid-template-columns: 12% 12% 12% 12 12% 12% 12%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas:
    'p1 p2 p3 p4 p5 p6 p7'
    'p8 p9 p10 p11 p12 p13 p14'
    'p15 p16 p17 p18 p19 p20 p21';
}

.container li {
  display: flex;
  flex-direction: ;
  justify-content: center;
  list-style: none;
}


.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;

}

.flex-items {
  text-align: left;
  border: black ridge 1px;
  border-radius: 10px;
  margin: 3px;
  width: 12%;
  padding: 15px;
}

.flex-item1 {
  width: 12%;
  padding: 15px;
  order: 2;
}

nav li a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}